<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" sizes="16x16" type="image/png">
    <title>주독야독</title>
    <style>
        #nav {
            background-color: rgba(255, 255, 255, 0.4);
            width: 300px;
            height: 100%;
            max-height: 100vh;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
        }

        #section {
            max-width: calc(100% - 340px);
            text-align: center;
            float: left;
            margin-right: 20%;
            margin-top: 30px;
            margin-left: 20px;
        }

        #feedback_box {
            display: flex;
            flex-direction : column;
            align-items: center;
            justify-content : center;
        }

        li {
            list-style-type: none;
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
        }

        .slide {
            display: none;
        }

        @font-face {
            font-family: 'neo';
            src: local('neo'), url('/font/neo.ttf') format('ttf');
        }

        body {
            font-family: 'dongle', Arial, sans-serif;
            overflow: scroll;
        }
    </style>
</head>

<body>
    <div
        style="width: 100%; height: 100%; background-color: rgba(244, 244, 244, 0.5); padding-top: 10px; padding-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center;">
            <img src="/images/logo.png" alt="주독야독" width="50dp" height="50dp" style="margin-right: 10px;">
            <a class="navbar-brand" href="/admin/"
                style="text-decoration-line: none; color: black; font-size: 36px; font-weight: bold;"
                onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';">주독야독</a>
            <span style="margin: 0 30px;"></span>

            <a class="navbar-brand" href="/admin/users"
                style="text-decoration-line: none; color: gray; font-size: 18px; font-weight: bold;"
                onmouseover="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                onmouseout="this.style.color='gray'; this.style.textDecoration='none';"
                onfocus="this.style.textDecoration='underline';" onblur="this.style.textDecoration='none';">회원관리</a>
            <span style="margin: 0 10px;"></span>
            <a class="navbar-brand" href="/admin/text"
                style="text-decoration-line: none; color: gray; font-size: 18px; font-weight: bold;"
                onmouseover="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                onmouseout="this.style.color='gray'; this.style.textDecoration='none';"
                onfocus="this.style.textDecoration='underline';" onblur="this.style.textDecoration='none';">지문관리</a>
            <span style="margin: 0 10px;"></span>
            <a class="navbar-brand" href="/admin/feedback"
                style="text-decoration-line: none; color: black; font-size: 18px; font-weight: bold; text-decoration: underline; text-decoration-color: #FDBBBB;"
                onmouseover="this.style.color='black'; this.style.textDecoration='none';"
                onmouseout="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                onfocus="this.style.textDecoration='none';" onblur="this.style.textDecoration='underline';">피드백 관리</a>
            <span style="margin: 0 10px;"></span>
            <a class="navbar-brand" href="/admin/ai"
                style="text-decoration-line: none; color: gray; font-size: 18px; font-weight: bold;"
                onmouseover="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                onmouseout="this.style.color='gray'; this.style.textDecoration='none';"
                onfocus="this.style.textDecoration='underline';" onblur="this.style.textDecoration='none';">AI 관리</a>
            <span style="margin: 0 30px;"></span>
        </div>

        <button onclick="window.location.href = '/admin/logout';"
            style="border-style: solid; font-size: 20px; font-weight: bold; background-color: white; border-width: 2px; border-color: black; border-radius: 30px; width: 111px; height: 45px; margin-right: 10px;"
            onmouseover="this.style.backgroundColor='#FDBBBB'; this.style.color='black';"
            onmouseout="this.style.backgroundColor='white'; this.style.color='black';">로그아웃</button>
    </div>

    <div id="nav">
        <ul style="padding: 0; height: 90vh; overflow-y: auto;">
            <% for (var i=0; i < user_list.length; i++) { %>
                <li>
                    <a style="text-decoration-line: none; color: gray; font-size: 25px; font-weight: bold;"
                        onmouseover="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB'; this.style.textDecoration='none';"
                        onmouseout="this.style.color='gray'; this.style.textDecoration='none';"
                        onfocus="this.style.textDecoration='none';"
                        onblur="this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                        class="dropdown-item" href="/admin/feedback/<%= user_list[i].user_id %>">
                        <%= user_list[i].name %>
                    </a>
                </li>
                <% } %>
        </ul>
    </div>
    <div id="feedback_box">
        <div id="section">
            <p style="font-size: 40px; font-weight: bold;"> 앱 피드백 </p>
        </div>    <div id="section">
        <% for (var i=0; i < feedback_list.length; i++) { %>
            <div style="margin-bottom: 20px; padding: 10px; width: 1000px; height: fit-content; border-radius: 20px; background-color: rgba(250, 240, 240, 1); border: none;">
                <div style="margin-bottom: 10px; align-items: center; display: flex; justify-content: center; padding: 10px; width: 20%; height: 30%; border-radius: 20px; background-color: rgba(245, 245, 245, 1); border: none;">
                    <span style="font-size: 20px; font-weight: bold; text-align: center;">작성일: <%= feedback_list[i].createdAt.getFullYear() %>-<%= feedback_list[i].createdAt.getMonth()+1 %>-<%= feedback_list[i].createdAt.getDate() %></span>
                </div>

                <span style="font-size: 18px; font-weight: normal; text-align: start;"><%= feedback_list[i].contents %></span>
            </div>
            <% } %>
    </div>

        <div id="section">
            <p style="font-size: 40px; font-weight: bold;"> 퀴즈 피드백 </p>
        </div>    <div id="section">
        <% for (var i=0; i < quizfeedback_list.length; i++) { %>
            <div style="margin-bottom: 20px; padding: 10px; width: 1000px; height: fit-content; border-radius: 20px; background-color: rgba(250, 240, 240, 1); border: none;">
                <div style="margin-bottom: 10px; align-items: center; display: flex; justify-content: center; padding: 10px; width: 20%; height: 30%; border-radius: 20px; background-color: rgba(245, 245, 245, 1); border: none;">
                    <span style="font-size: 20px; font-weight: bold; text-align: center;">작성일: <%= quizfeedback_list[i].createdAt.getFullYear() %>-<%= quizfeedback_list[i].createdAt.getMonth()+1 %>-<%= quizfeedback_list[i].createdAt.getDate() %></span>
                </div>
                <details>
                    <summary style="font-size: 18px; font-weight: normal;">퀴즈 <%= quizfeedback_list[i].quiz_id %></summary>
                    <% let questions = quizfeedback_list[i].questions; %>
                    <% questions = JSON.parse(questions); %>
                    <% let answers = quizfeedback_list[i].answers; %>
                    <% answers = JSON.parse(answers); %>
                    <% a = [answers.answer_list1, answers.answer_list2, answers.answer_list3]; %>
                    <div style="font-size: 18px; font-weight: normal; text-align: start;">
                        <% for (let j = 0; j < questions.length; j++) { %>
                            문제 <%= j+1 %>: <%= questions[j] %>
                            <br>
                            <% for (let k = 0; k < 5; k++) { %>
                            보기 <%= k + 1 %>: <%= a[j][k] %><br>
                            <% } %>
                            <br>
                        <% } %>
                    </div>
                </details>
                <br>
                <span style="font-size: 18px; font-weight: normal; text-align: start;"><%= quizfeedback_list[i].contents %></span>
            </div>
            <% } %>
    </div>
</div>
</body>

</html>